h1, h2
{
    margin: 1% auto;
    padding: 0;
    width: 100%;
    position: absolute;
    text-align: center;
}
h1
{
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight: 700;
    bottom: 50%;
}
h2
{
    font-family: 'Spartan';
    font-size: 1.8rem;
    font-weight: 400;
    top: 50%;
}
a
{
    color: inherit;
}